<!-- <p>header works!</p> -->
<nav class="navbar navbar-expand-lg navbar-dark bg-black sticky-top">
    <div class="container-fluid">
      <img src="./assets/Images/New Logo.png" style="height:40px;width:140px">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor02">
        <form class="d-flex" style="margin-left: 150px">
          <input class="form-control me-sm-2" type="text" placeholder="Search" style="width: 500px">
          <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <ul class="navbar-nav me-auto" >
          <li class="nav-item" style="margin-left: 100px;">
            <a class="nav-link active" ><h4>Home</h4>
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
          <li class="nav-item" style="margin-left: 40px;">
            <a class="nav-link" routerLink="/login2"><h4>Login</h4></a>
          </li>
          <li class="nav-item" style="margin-left: 40px;">
            <a class="nav-link" routerLink="/register1"><h4>Registration</h4></a>
          </li>
          <!-- <li class="nav-item" style="margin-left: 40px;">
            <a class="nav-link" routerLink="/cart"><h4>My Cart</h4></a>
            <button type ="submit" ><i class="fa fa-shopping-cart" aria-hidden="true" style="width:45px;height:45px"></i></button>
            <button class="btn btn-black" routerLink="/cart"><img src="./assets/Images/cart.png" style="width:45px">
              <span class="badge badge-info">{{carts.length}}</span>
            </button>
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link" routerLink="showemp">Show Employees</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="product">Show Products</a>
          </li> -->
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Separated link</a>
            </div>
          </li> -->
        </ul>
        <form >
          <button class="btn btn-danger my-2 my-sm-0 btn-lg" type="submit">
            <a class="nav-link" href="">Logout</a></button>
        </form>
      </div>
    </div>
  </nav>