<router-outlet></router-outlet>
<!-- <app-users-list></app-users-list> -->
<!-- <app-cars-list></app-cars-list> -->
<!-- <app-bikes-list></app-bikes-list> -->
<!-- <app-register></app-register> -->
<!-- <app-login></app-login> -->
<!-- <app-edit-car></app-edit-car> -->
<!-- <app-edit-bike></app-edit-bike> -->
<!-- <app-admin-choice></app-admin-choice> -->
<!-- <app-user-choice></app-user-choice> -->
<!-- <app-main></app-main> -->
<!-- <app-home></app-home> -->
<!-- <app-thank-you></app-thank-you> -->
<!-- <app-payment></app-payment> -->
<!-- <app-login2></app-login2> -->
<!-- <app-cart></app-cart> -->
<!-- <app-add-bike></app-add-bike> -->
<!-- <app-add-car></app-add-car> -->