.gradient-custom {
  /* fallback for old browsers ///*/
  background: #f5f2f6;
  
  /* Chrome 10-25, Safari 5.1-6 ///*/
  /* background: -webkit-linear-gradient(to bottom right, rgb(95, 93, 127), rgb(102, 89, 127)); */
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ ///*/
  background: linear-gradient(to bottom right, rgb(119, 112, 148), rgb(98, 94, 126)) 
}
  
  .card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: .75em;
  padding-right: .75em;
  }
  .card-registration .select-arrow {
  top: 13px;
  }